# Rider files and directories
.idea/
*.sln.iml
*.sln.DotSettings

# dotnet 8.0
/bin/
/obj/
*.dll
*.exe
*.pdb
*.cache

[Bb]in/
[Oo]bj/

# Journal and Temp files
*.log
*.cache
*.tmp

# Test results
TestResults/
*.TestResults/
*.trx
*.coverage
*.coveragexml
